<!DOCTYPE html>
<html>
<head>
    <title>Perfect Num</title>
</head>
<body>

<h2>Perfect Num</h2>

<form action="/check" method="POST">
    <input type="number" name="num" required>
    <button type="submit">Check</button>
</form>

<h3>{{result}}</h3>

</body>
</html>